.input-container {
  margin: 0 15px;
  display: flex;
  // flexbox
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  border-radius: 10px;
  background-color: scale-color($backgroundColor, $lightness: -10%);
  height: 100%;
}
.search-icon {
  margin: 0 15px;
}
